/* Basic CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

/* Root Styles */
html {
	line-height: 1.5;
}

body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.3; /* 130% */
	color: #000000;
	background-color: #f3ede6;
	-webkit-font-smoothing: antialiased;
}

/* Basic Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700; /* bold */
	font-size: 24px;
	letter-spacing: -0.02em; /* -20/1000 = -0.02em */
	line-height: 1; /* 100% */
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 1em;
}

/* Links */
a {
	color: #2788e2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Forms */
button,
input,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
	background-color: #2788e2;
	color: white;
	border: none;
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	width: 200px;
}

button:hover {
	background: #1d2e69;
}

/* Focus styles */
:focus-visible {
	outline: 2px solid #2788e2;
	outline-offset: 2px;
}

/* Responsive media */
img,
video,
svg {
	max-width: 100%;
	height: auto;
}

.app-container {
	padding: 2rem;
	max-width: 600px;
	margin: 0 auto;
}
